{% extends 'backoffice/_layouts/base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}
    <div class="grid-x">
        <div class="cell small-6 float-left">
            <h3>Nouvelle gallerie</h3>
        </div>
        <div class="cell small-6">
            <a href="{{ path('admin_medias_gallery_home') }}" class="button secondary float-right">Publier</a>
        </div>
    </div>

    {{ form_start(fileForm) }}
    {{ form_row (fileForm.name) }}
    {{ form_row (fileForm.fichier) }}

    <br>
    <div class="float-left ">
        <a href="{{ path('admin_medias_gallery_edit') }}" class="button alert" type="cancel">Supprimer</a>
    </div>
    <div class="float-right ">
        <a href="{{ path('admin_medias_gallery_edit') }}" class="button neutral-light">Annuler</a>
        <input class="button success" type="submit" value="Valider">
    </div>
    {{ form_end(fileForm) }}

{% endblock %}