{% extends 'backoffice/_layouts/base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}
    <p>Username: {{ app.user.username }}</p>

    <h2>Nouveau Post</h2>
    {{ form_start(postForm) }}
    {{ form_row (postForm.name) }}
    {{ form_row (postForm.title) }}
    {{ form_row (postForm.slug) }}
    {{ form_row (postForm.description) }}
    {{ form_row (postForm.content) }}

    <br>
    <div class="button-group float-right">
        <a href="" class="button" type="cancel">Annuler</a>
        <input class="button primary" type="submit">

    </div>

    {{ form_end(postForm) }}


{% endblock %}