<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bruno HUDBERT - Developpeur{% endblock %}</title>
    <link rel="stylesheet" href="{{   asset("assets/css/app.css") }}">
    <link rel="stylesheet" href="{{   asset("css/stylesheet.css") }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{# Body began #}

<navbar class="top-bar row ">

        <div class="columns large-4">

            <a href="{{   path('home') }}" id="trademark">
                <img src="{{   asset("img/logo.png") }}" style="height:30px;padding-left:10px;">
                Bruno HUDBERT


            </a>

        </div>
        <div class="columns large-6  align-center">
            <ul class="menu ">
                <li><a href="{{   path('blog_home') }}">Blog</a></li>
                <li><a href="{{   path('project_home') }}">Portfolio projets</a></li>
                <li><a href="{{   path('trainings_home') }}">Formations</a></li>
                <li class="menu-navbar-item-last"><a href="{{   path('aboutme') }}">Qui suis-je</a></li>


            </ul>

        </div>
        <div class="columns large-3">

            <ul class="menu ">{#
                <li><a href="{{   path('user_register') }}" id="last">Inscription</a></li>
                #}
                <li><a href="{{   path('user_login') }}" id="connexion">Connexion</a></li>
            </ul>
        </div>


</navbar>


{% block callout %}{% endblock %}
<article class="page-content">

    <div class="row">
        <div class="medium-9 medium-centered columns">
            <br>
            <h4 class="text-center">
                {% block body %}{% endblock %}
            </h4>
        </div>
    </div>

    <div class="row column"></div>
</article>



<footer class="row">
    &copy; Bruno HUDBERT 2020

</footer>

{% block javascripts %}{% endblock %}
<script src="{{   asset("assets/js/app.js") }}"></script>
</body>
</html>
