{% extends 'backoffice/_layouts/base.html.twig'%}

{% block title %}{% endblock %}

{% block body %}
    <div class="grid-x">
        <div class="cell small-6 float-left">
            <h3>Nouvelle Techno</h3>
        </div>
        <div class="cell small-6">
            <a href="{{ path('admin_settings_technology_home') }}" class="button secondary float-right">
                Publier
            </a>
        </div>
    </div>

    {{ form_start(technologyForm) }}
    {{ form_row (technologyForm.name) }}

    <br>
    <div class="float-left ">
        <a href="{{ path('admin_settings_technology_home') }}" class="button alert" type="cancel">Supprimer</a>
    </div>
    <div class="float-right ">
        <a href="{{ path('admin_settings_technology_home') }}" class="button neutral-light">Annuler</a>
        <input class="button success" type="submit" value="Valider">

    </div>

    {{ form_end(technologyForm) }}


{% endblock %}